<!DOCTYPE html>
<html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1><%= "The date is #{DateTime.today.strftime("%A, %B %d, %Y")}" %></h1>
    </body>
</html>